<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carello.js – {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Roboto|Cedarville+Cursive' rel='stylesheet' type='text/css'>

  </head>
<body class="{{ page.title }}">
  <header>
    <h1><a href="{{ site.baseurl }}/">carello.js</a></h1>
  </header>
  <section>
    {{ content }}</section>

  <footer><a href="{{ site.github.repo }}">REPOSITORY</a></footer>
  <script src="{{ site.baseurl }}/js/buttons.js"></script>
  <script src="{{ site.baseurl }}/js/carello.js"></script>

</body>
</html>
